In [74]:
import pandas as pd
import numpy as np
import openpyxl
df = pd.read_csv('investments.csv', sep=',')

In [75]:
df.columns

Index(['company_permalink', 'company_name', 'company_category_list',
       'company_market', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'investor_permalink', 'investor_name',
       'investor_category_list', 'investor_market', 'investor_country_code',
       'investor_state_code', 'investor_region', 'investor_city',
       'funding_round_permalink', 'funding_round_type', 'funding_round_code',
       'funded_at', 'funded_month', 'funded_quarter', 'funded_year',
       'raised_amount_usd'],
      dtype='object')

In [76]:
df1 = df[['funded_year', 'funded_quarter', 'funding_round_type', 'raised_amount_usd']]
df1 = df1[df.funded_year >= 2007]
df1 = df1[df1.funding_round_type.isin(['angel', 'private_equity', 'seed', 'venture', 'undisclosed'])]

In [77]:
df1

        funded_year funded_quarter funding_round_type raised_amount_usd
0            2014.0        2014-Q3            venture           5956174
1            2014.0        2014-Q3     private_equity          81216295
2            2014.0        2014-Q3               seed           1300000
3            2014.0        2014-Q3               seed               NaN
4            2014.0        2014-Q2               seed            500000
...             ...            ...                ...               ...
110038       2012.0        2012-Q4               seed           3000000
110039       2014.0        2014-Q1               seed             20000
110040       2009.0        2009-Q3              angel            400000
110041       2013.0        2013-Q3               seed           2300000
110042       2012.0        2012-Q2               seed             33000

[94534 rows x 4 columns]

In [78]:
df1

        funded_year funded_quarter funding_round_type raised_amount_usd
0            2014.0        2014-Q3            venture           5956174
1            2014.0        2014-Q3     private_equity          81216295
2            2014.0        2014-Q3               seed           1300000
3            2014.0        2014-Q3               seed               NaN
4            2014.0        2014-Q2               seed            500000
...             ...            ...                ...               ...
110038       2012.0        2012-Q4               seed           3000000
110039       2014.0        2014-Q1               seed             20000
110040       2009.0        2009-Q3              angel            400000
110041       2013.0        2013-Q3               seed           2300000
110042       2012.0        2012-Q2               seed             33000

[94534 rows x 4 columns]

In [79]:
df1 = df1.fillna(0)

In [80]:
df1.raised_amount_usd

0          5956174
1         81216295
2          1300000
3                0
4           500000
            ...
110038     3000000
110039       20000
110040      400000
110041     2300000
110042       33000
Name: raised_amount_usd, Length: 94534, dtype: object

In [101]:
table1 = pd.pivot_table(df1, index=['funding_round_type'],
                columns=['funded_year', 'funded_quarter'],
                values=['raised_amount_usd'],
                aggfunc=[lambda x: len(x)],fill_value=0)

In [102]:
table1

                            <lambda>                                          \
                   raised_amount_usd
funded_year                   2007.0                          2008.0
funded_quarter               2007-Q1 2007-Q2 2007-Q3 2007-Q4 2008-Q1 2008-Q2
funding_round_type
angel                             97      67      50      71     122      69
private_equity                    16      14      22      10      13      13
seed                             110      88      92     111     219     143
undisclosed                      395     268     255     243     362     354
venture                         1294    1207    1297    1144    1440    1434

                                                    ...                  \
                                                    ...
funded_year                         2009.0          ...  2012.0
funded_quarter     2008-Q3 2008-Q4 2009-Q1 2009-Q2  ... 2012-Q3 2012-Q4
funding_round_type                                  ...
angel                   74      79      64      84  ...     201     162
private_equity          26      18      20      17  ...      93      64
seed                   145     107     254     225  ...    1551    1610
undisclosed            258     384     312     272  ...     634     759
venture               1094     869    1007     941  ...    1433    1340

                                                                            \

funded_year         2013.0                          2014.0
funded_quarter     2013-Q1 2013-Q2 2013-Q3 2013-Q4 2014-Q1 2014-Q2 2014-Q3
funding_round_type
angel                  229     161     226     141     211     123      77
private_equity         146     244     187     132     101     131      68
seed                  2025    1870    2368    2097    1922    1686    1763
undisclosed            576     710     454     647     830     304      98
venture               1584    1856    2065    2147    2263    3019    2905



funded_year
funded_quarter     2014-Q4
funding_round_type
angel                    0
private_equity           5
seed                   101
undisclosed              4
venture                192

[5 rows x 32 columns]

In [85]:
writer = pd.ExcelWriter('report.xlsx')
table1.to_excel(writer, 'Sheet1')
df1.to_excel(writer, 'Sheet2')
writer.save()

In [105]:
wb = openpyxl.load_workbook('Example_wb.xlsx')

In [106]:
wb.get_sheet_names()

C:\Users\abhijit\Anaconda2\envs\newpy37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['Sheet1']

In [107]:
sheet = wb.get_sheet_by_name('Sheet1')

C:\Users\abhijit\Anaconda2\envs\newpy37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [108]:
type(sheet)

openpyxl.worksheet.worksheet.Worksheet

In [109]:
sheet.title

'Sheet1'

In [110]:
wb.active

In [111]:
sheet['A1']

In [113]:
sheet['B2'].value

' John'

In [114]:
sheet.cell(row=2, column=2)

In [115]:
sheet.cell(row=1, column=2).value

' Name'

In [116]:
sheet.cell(row=2, column=2).value

' John'

In [99]:
sheet.max_row

4

In [100]:
sheet.max_column

3

# PROJECT
Say you have a spreadsheet of data from the 2010 US Census and you have the boring task of going through its thousands of rows to count both the total population and the number of census tracts for each county. (A census tract is simply a geographic area defined for the purposes of the census.) Each row represents a single census tract.

Even though Excel can calculate the sum of multiple selected cells, you’d still have to select the cells for each of the 3,000-plus counties. Even if it takes just a few seconds to calculate a county’s population by hand, this would take hours to do for the whole spreadsheet.

In this project, you’ll write a script that can read from the census spreadsheet file and calculate statistics for each county in a matter of seconds.

This is what your program does:

Reads the data from the Excel spreadsheet.

Counts the number of census tracts in each county.

Counts the total population of each county.

Prints the results.

This means your code will need to do the following:

Open and read the cells of an Excel document with the openpyxl module.

Calculate all the tract and population data and store it in a data structure.

Write the data structure to a text file with the .py extension using the pprint module.