In [5]:
#pip install mysql-connector-python
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  auth_plugin='mysql_native_password',
  passwd="Edusphere@3"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001EF60FE85C8>

Creating a Database: 
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [6]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [7]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  auth_plugin='mysql_native_password',
  passwd="Edusphere@3",
  database="mydatabase"
)

In [11]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [10]:
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [12]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [13]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [14]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 16

In [15]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Vijay', 'Katraj')
(2, 'John', 'Highway 21')
(3, 'Peter', 'Lowstreet 4')
(4, 'Amy', 'Apple st 652')
(5, 'Hannah', 'Mountain 21')
(6, 'Michael', 'Valley 345')
(7, 'Sandy', 'Ocean blvd 2')
(8, 'Betty', 'Green Grass 1')
(9, 'Richard', 'Sky st 331')
(10, 'Susan', 'One way 98')
(11, 'Vicky', 'Yellow Garden 2')
(12, 'Ben', 'Park Lane 38')
(13, 'William', 'Central st 954')
(14, 'Chuck', 'Main Road 989')
(15, 'Viola', 'Sideway 1633')
(16, 'Michelle', 'Blue Village')

Note: We use the fetchall() method, which fetches all rows from the last executed statement.

# Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [16]:
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vijay', 'Katraj')
('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

# Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

In [ ]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

In [ ]:
sql

In [17]:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(12, 'Ben', 'Park Lane 38')

In [18]:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(4, 'Amy', 'Apple st 652')
(12, 'Ben', 'Park Lane 38')
(8, 'Betty', 'Green Grass 1')
(14, 'Chuck', 'Main Road 989')
(5, 'Hannah', 'Mountain 21')
(2, 'John', 'Highway 21')
(6, 'Michael', 'Valley 345')
(16, 'Michelle', 'Blue Village')
(3, 'Peter', 'Lowstreet 4')
(9, 'Richard', 'Sky st 331')
(7, 'Sandy', 'Ocean blvd 2')
(10, 'Susan', 'One way 98')
(11, 'Vicky', 'Yellow Garden 2')
(1, 'Vijay', 'Katraj')
(15, 'Viola', 'Sideway 1633')
(13, 'William', 'Central st 954')

In [19]:
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [20]:
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Katraj'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [21]:
sql = "DROP TABLE customers"

mycursor.execute(sql)